{% extends 'base.html' %}

{% block content %}
<style>
*{
    color:white;
}
</style>
    <div class="container">
    <div class="content-section">
        {% for mess in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Hola!</strong> {{ mess }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endfor %}
    {% if current_user.is_authenticated %}
        {{ current_user.first_name }}
        <p>You are already logged in.</p>
    {% else %}
        {{ current_user.first_name }}
    <form method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Passoword Change Request</legend>
            <div class="form-group">
                {{ form.email.label(class="form-control-label")}}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    </div>
</div>
    {% endif %}
{% endblock content %}