body,html{
	height: 100%;
}
.HomeBackground {
	background-image:url("bg1.jpg");
	height: 900px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -5em;
}
.CaptionStyle{
	margin-top: 15rem;
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
	font-weight: bold;
	margin-left: 450px;
	position: absolute;
	color: #fff;
	font-size: 30px;
}
.linkcolour{
	font-family: sans-serif;
	color: #fff;
	text-decoration: none;
}