{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="content-section">
        {% for mess in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Hola!</strong> {{ mess }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endfor %}
        <form method="POST">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Check Coin Price</legend>
                <div class="form-group">
                    <div class="form-control-label">Coin Name:</div> <select name="Coin Name" id="CoinName">
                        <option value="1" selected>{{values.coin_name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>
                        Price: 
                    </label>
                    <input type="text" default="Price" disabled="disabled" value={{values.coin_conversion_rate}}>
                </div>
                <div class="form-group">
                    <label>
                        Purchase Amount:
                    </label>
                    <input type="text" placeholder="xx.xx $">
                </div>
                <br><br>
            </fieldset>
        </form>
         <form method='POST' action="{{ url_for('investments.purchase', username=current_user.username ) }}">
            <input type="hidden" name="coin_name" value="{{values.coin_name}}">
             <input type="hidden" name="coin_conversion_rate" value="{{values.coin_conversion_rate}}">
             <input type="number" name="purchase_amount">
            <br>
            <button type="submit" class="btn btn-outline-info">
                Purchase
            </button>
        </form>
    </div>
</div>
<!--{{values}}-->
{% endblock content %}