{% extends 'base.html' %}
{% block content %}
	<div class="HomeBackground">
		<div class="CaptionStyle">
			<center>
			<p><font size=25px>WELCOME TO CRYPTOSENSE</font><br><i>The place to check your trading skills in Cyptocurrency</i></p><br>
			<p><a href="{{ url_for('accounts.login') }}" class='linkcolour' ><font color="#FF5A5F" >LOGIN TO CONTINUE</font></a></p><br>
			<p><i><marquee><a href='' class='linkcolour'>SEE THE LAST WEEK'S STANDINGS</a></marquee></i></p>
		</center>
		</div>
	</div>
{% endblock content %}
